export( "cesCalc" )
export( "cesEst" )

S3method( "coef", "cesEst" )
S3method( "coef", "summary.cesEst" )
S3method( "fitted", "cesEst" )
S3method( "plot", "cesEst" )
S3method( "print", "cesEst" )
S3method( "print", "summary.cesEst" )
S3method( "residuals", "cesEst" )
S3method( "summary", "cesEst" )
S3method( "vcov", "cesEst" )

importFrom( "car", "lht" )

importFrom( "DEoptim", "DEoptim" )

importFrom( "micEcon", "translogEst" )

importFrom( "miscTools", "checkNames" )
importFrom( "miscTools", "coefTable" )
importFrom( "miscTools", "rSquared" )

importFrom( "minpack.lm", "nls.lm" )

importFrom( "systemfit", "systemfit" )
